* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.gradient-text {
  background: linear-gradient(90deg,rgba(186, 107, 255, 1) 0%, rgba(69, 227, 255, 1) 50%, rgba(255, 128, 187, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
